        <header>

        <h1>{{pageTitle}}</h1><!--display pass in page title data  -->
        <p><a href="/">Home</a></p> <!-- create link to "home pg"-->
        <p><a href="/about">About</a></p> <!-- create link to "about pg"-->
        <p><a href="/project">Project</a></p> <!-- create link to "project pg"-->

        </header>